<html>
<head>
  <style>

  .indent{margin-left:40px; margin-bottom:20px}
  .indentLeft{margin-left:40px; }
  .formBorder {
    border-left: 6px solid darkgreen;
    background-color: lightgrey;
    padding-left: 20px
  }

  </style>
</head>

    <body>
      <div>
        <%- include partials/head.ejs %>
      </div>

      <div class="header-blue">
        <div class="container" style="padding:15px 15px;padding-top:30px;padding-bottom:200px;">
          <%- include partials/breadcrumb.ejs%>
            <div>
              <div class="card-group">
                <div class="card">

                  <div class="card-body">
                    <form action="/quickUpdate/<%=project._id %>" method="post">

                      <%if(user.local.role == "admin" || user.local.role == "super"){ %>

                            <%if(project.status == "Created"){ %>

                              <h3>Assign Engineer</h3>
                              <p>This project is currently awaiting assignment to an Engineer</p>

                            <select class="form-control" name="projEngineer" style="width: 50%; margin-bottom:10px;">
                                 <% for(var i = 0; i < engineers.length; i++){%>
                                <option value='{ "id" : "<%=engineers[i]._id%>", "name" : "<%=engineers[i].local.firstName%> <%=engineers[i].local.lastName%>", "email": "<%=engineers[i].local.email%>" }' <%if (engineers[i].local.email == project.engineerEmail) {%> checked <%}%> ><%=engineers[i].local.firstName%> <%=engineers[i].local.lastName%></option>
                                <%}%>
                            </select>

                         <%} else{%>

                          <h3>Unknown Status</h3>
                          <p>An Unknown Projects Status has ben encountered</p>

                        <%}%>


                     <%}else if (user.local.role == "engineer" ) {%>

                       <% if( project.status == "Assigned" ) {%>

                       <h3>Waiting for  Finalizing</h3>
                       <p>This project is currently awaiting your final pricing and completion date.</p>
                       <p>The cutomers requested completion date is <b><%=project.requestedCompletionDate%></b></p>
                       <p>The estimated project price is <b>$<%=project.finalCost%></b></p>
                       <p> Please enter final price and completion date below: </p>

                       <div><h5>Final Project Price in USD(ex: $20.65)</h5>
                       <div><input class="indent" type="number" step=0.01 name=finalPrice value='<%= project.finalCost%>' required></div>
                       <h5>Project Completion Date</h5>
                       <div><input  class="indent" type="date" value='<%= project.requestedCompletionDate%>' name="finalCompletionDate" required></div>
                       <h5>Engineers Comments on Final Price and Completion Date</h5>
                       <div><textarea  class="indent" type="date" value=' ' placeholder="Please enter any comments you have on final priceing and completion date for the projects that you wish for the customer to see." name="finalizedComments" required> </textarea></div>
                     </div>


                     <%} else {%>

                      <h3>Unknown Status</h3>
                      <p>An Unknown Projects Status has ben encountered</p>

                      <%}%>





                    <%}else if(user.local.role == "user"){%>

                      <% if( project.status == "Finalized" ) {%>

                      <h3 style="font-weight:bold">Waiting on your Approval</h3>
                      <p class="indent">This project is currently awaiting your approval of final details.</p>

                      <h4>Model Density</h4>
                      <p class="indent"><b><%= project.Density %></b></p>
                      <h4>Filament Type</h4>
                      <p class="indent"><b><%= project.materialName %></b></p>
                      <h4>Filament Price per Centimeter Cubed</h4>
                      <p class="indent"><b>$<%= project.materialCost %></b></p>
                      <h4>Total Project Price</h4>
                      <p class="indent"><b>$<%= project.finalFinalCost %></b></p>
                      <h4>Final Print Date</h4>
                      <p class="indent"><b><%= project.finalCompletionDate %></b></p>
                      <h4>Engineers Comments</h4>
                      <p class="indent"><b><%= project.finalizedComments %></b></p>
                      <div class="formBorder">
                        <h3 style="font-weight:bold">Do you accept? Once an order is accepted it cannot be canceled</h3>
                      <div class="indent" style="" ><input  type="radio"  name=accepted value="true" required><label style="color:green; margin-top:20px; font-size:30px"> Accept </label></div>
                      <div class="indent" ><input  type="radio" name=accepted value="false" checked required> <label style="color:red; font-size:30px"> Decline</label> </div>
                    </div>

                    <%} else {%>

                     <h3>Unknown Status</h3>
                     <p>An Unknown Projects Status has ben encountered</p>

                     <%}%>




                <%} else{%>
                  <h3>Unknown Status</h3>
                  <p>An Unknown User Type has been encountered</p>
                <%}%>



                <div class="form-group" style="margin-left: 25px;" ><button class="btn btn-primary " style="background-color:#28a745;" type="submit">Submit</button></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div>
          <% include partials/footer.ejs %>
      </div>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/js/bs-animation.js"></script>
    </body>

    <script>
      var password = document.getElementById("password"),
        confirm_password = document.getElementById("passwordConfirm");

      function validatePassword() {
        if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>

</html>
