<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
  <script src="assets/js/sorttable.js"></script>

</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>

    <div class="register-photo" style="background:linear-gradient(135deg, #04954a, #00150a)">
      <div class="container" style="padding:15px 15px;padding-top:0px;padding-bottom:200px;">
        <%- include partials/breadcrumb.ejs%>
          <div>

            <div class="card-group">
              <div class="card">
                <div class="card-header">
                  <div>
                    <h1 style="color:#000000;margin-bottom:20px;">Edit Information</h1>
                  </div>
                </div>
  <div class="card-body" style="background-color:white;">

    <form action="/editUser/<%=id%>" method="post" class="" style="width:50%;height:145%;padding:20px;margin:20px;background-color:rgb(255,255,255);">
      <div class="form-row">
          <div class="col">
    <% if (user.local.role == 'admin' || user.local.role == 'engineer') { %>
        <div style="margin:20px; margin-left:0px;"><p>First Name</p></div>
        <div> <input type="text" class="form-control" name="userFName" value="<%=userFName %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>Last name</p></div>
        <div> <input type="text" class="form-control" name="userLName" value="<%=userLName %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>Email</p></div>
        <div> <input type="text" class="form-control" name="userEmail" value="<%=userEmail %>" readonly></div>
        <div style="margin:20px; margin-left:0px;"><p>Phone Number</p></div>
        <div> <input type="text" class="form-control" name="userPhone" value="<%=userPhone %>" pattern="\d{3}[\-]\d{3}[\-]\d{4}" required></div>
      </div>
      <div class="col">
        <div style="margin:20px; margin-left:0px;"><p>Street</p></div>
        <div> <input type="text" class="form-control" name="userStreet" value="<%=userStreet %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>City</p></div>
        <div> <input type="text" class="form-control" name="userCity" value="<%=userCity %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>State</p></div>
        <div>
          <select class="form-control form-group" name="userState">
                                      <option value ="<%=userState%>"><%=userState%></option>
                                      <option value="AL">Alabama</option>
                                      <option value="AK">Alaska</option>
                                      <option value="AZ">Arizona</option>
                                      <option value="AR">Arkansas</option>
                                      <option value="CA">California</option>
                                      <option value="CO">Colorado</option>
                                      <option value="CT">Connecticut</option>
                                      <option value="DE">Delaware</option>
                                      <option value="DC">District Of Columbia</option>
                                      <option value="FL">Florida</option>
                                      <option value="GA">Georgia</option>
                                      <option value="HI">Hawaii</option>
                                      <option value="ID">Idaho</option>
                                      <option value="IL">Illinois</option>
                                      <option value="IN">Indiana</option>
                                      <option value="IA">Iowa</option>
                                      <option value="KS">Kansas</option>
                                      <option value="KY">Kentucky</option>
                                      <option value="LA">Louisiana</option>
                                      <option value="ME">Maine</option>
                                      <option value="MD">Maryland</option>
                                      <option value="MA">Massachusetts</option>
                                      <option value="MI">Michigan</option>
                                      <option value="MN">Minnesota</option>
                                      <option value="MS">Mississippi</option>
                                      <option value="MO">Missouri</option>
                                      <option value="MT">Montana</option>
                                      <option value="NE">Nebraska</option>
                                      <option value="NV">Nevada</option>
                                      <option value="NH">New Hampshire</option>
                                      <option value="NJ">New Jersey</option>
                                      <option value="NM">New Mexico</option>
                                      <option value="NY">New York</option>
                                      <option value="NC">North Carolina</option>
                                      <option value="ND">North Dakota</option>
                                      <option value="OH">Ohio</option>
                                      <option value="OK">Oklahoma</option>
                                      <option value="OR">Oregon</option>
                                      <option value="PA">Pennsylvania</option>
                                      <option value="RI">Rhode Island</option>
                                      <option value="SC">South Carolina</option>
                                      <option value="SD">South Dakota</option>
                                      <option value="TN">Tennessee</option>
                                      <option value="TX">Texas</option>
                                      <option value="UT">Utah</option>
                                      <option value="VT">Vermont</option>
                                      <option value="VA">Virginia</option>
                                      <option value="WA">Washington</option>
                                      <option value="WV">West Virginia</option>
                                      <option value="WI">Wisconsin</option>
                                      <option value="WY">Wyoming</option>
                                    </select>
                    </div>
        <div style="margin:20px; margin-left:0px;"><p>Zip</p></div>
        <div> <input type="text" class="form-control" name="userZip" value="<%=userZip %>" pattern="(\d{5}([\-]\d{4})?)" required></div>
      </div>
  </div>
      <div class="form-row">
        <div class="col">
        <div style="margin:20px; margin-left:0px;"><p>Contract</p></div>
        <div> <input type="radio" name="userContract" value="true" <%if (userContract){%> checked
          <%}%> > Yes<br>
            <input type="radio" name="userContract" value="false" <%if (!userContract){%> checked
            <%}%> > No <br>
          </div>
    </div>
    <div class="col">
        <div style="margin:20px; margin-left:0px;"><p>Role</p></div>
        <% if (user.id == id) { %>
          <div> <input type="text" class="form-control" name="userRole" value="<%= userRole %>" readonly> </div>
          <% } else { %>
            <div> <select class="form-control form-group" name="userRole" value="<%userRole%>">
            <option value=<%= userRole%>> <% if (userRole == "user") { %> client <%} else{%> <%=userRole%>  <%}%> </option>
            <option value="user">Client</option>
            <option value="engineer">Engineer</option>
            <option value="finance">Finance</option>
            <option value="admin">Admin</option>
          </select></div>
</div>
</div>
    <div class="form-row">
      <div class="col">
        <div style="margin:20px; margin-left:0px;"><p>Banned</p></div>
            <% if ((userRole != 'admin' && userRole != 'super') || user.local.role == "engineer") {%>
              <div> <input type="radio" name="userBan" value="true" <%if (userBan){%> checked
                <%}%> > Yes<br>
                  <input type="radio" name="userBan" value="false" <%if (!userBan){%> checked
                  <%}%> > No<br></div>
              <%}%>
                <% } %>
                <button style="width:25%;margin:10px;background-color:rgb(4,148,74)" type="submit" class="btn btn-success" id="btnPerformSave">Update</button>
                  <% } else if (user.local.role == 'user') { %>
                    <p name="id" hidden>
                      <%=id%>
                    </p>
                  </div>
              </div>
        </div>
        <div style="margin:20px; margin-left:0px;"><p>First Name</p></div>
                    <div> <input type="text" class="form-control" name="userFName" value="<%=userFName %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>Last name</p></div>
                    <div> <input type="text" class="form-control" name="userLName" value="<%=userLName %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>Email</p></div>
                    <div> <input type="text" class="form-control" name="userEmail" value="<%=userEmail %>" readonly></div>
        <div style="margin:20px; margin-left:0px;"><p>Phone</p></div>
                    <div> <input type="text" class="form-control" name="userPhone" value="<%=userPhone %>" pattern="\d{3}[\-]\d{3}[\-]\d{4}" required></div>
        <div style="margin:20px; margin-left:0px;"><p>Street</p></div>
                    <div> <input type="text" class="form-control" name="userStreet" value="<%=userStreet %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>City</p></div>
                    <div> <input type="text" class="form-control" name="userCity" value="<%=userCity %>" required></div>
        <div style="margin:20px; margin-left:0px;"><p>State</p></div>
                    <div>
                      <select type="text" class="form-control form-group" name="userState">
                                      <option value ="<%=userState%>"><%=userState%></option>
                                      <option value="AL">Alabama</option>
                                      <option value="AK">Alaska</option>
                                      <option value="AZ">Arizona</option>
                                      <option value="AR">Arkansas</option>
                                      <option value="CA">California</option>
                                      <option value="CO">Colorado</option>
                                      <option value="CT">Connecticut</option>
                                      <option value="DE">Delaware</option>
                                      <option value="DC">District Of Columbia</option>
                                      <option value="FL">Florida</option>
                                      <option value="GA">Georgia</option>
                                      <option value="HI">Hawaii</option>
                                      <option value="ID">Idaho</option>
                                      <option value="IL">Illinois</option>
                                      <option value="IN">Indiana</option>
                                      <option value="IA">Iowa</option>
                                      <option value="KS">Kansas</option>
                                      <option value="KY">Kentucky</option>
                                      <option value="LA">Louisiana</option>
                                      <option value="ME">Maine</option>
                                      <option value="MD">Maryland</option>
                                      <option value="MA">Massachusetts</option>
                                      <option value="MI">Michigan</option>
                                      <option value="MN">Minnesota</option>
                                      <option value="MS">Mississippi</option>
                                      <option value="MO">Missouri</option>
                                      <option value="MT">Montana</option>
                                      <option value="NE">Nebraska</option>
                                      <option value="NV">Nevada</option>
                                      <option value="NH">New Hampshire</option>
                                      <option value="NJ">New Jersey</option>
                                      <option value="NM">New Mexico</option>
                                      <option value="NY">New York</option>
                                      <option value="NC">North Carolina</option>
                                      <option value="ND">North Dakota</option>
                                      <option value="OH">Ohio</option>
                                      <option value="OK">Oklahoma</option>
                                      <option value="OR">Oregon</option>
                                      <option value="PA">Pennsylvania</option>
                                      <option value="RI">Rhode Island</option>
                                      <option value="SC">South Carolina</option>
                                      <option value="SD">South Dakota</option>
                                      <option value="TN">Tennessee</option>
                                      <option value="TX">Texas</option>
                                      <option value="UT">Utah</option>
                                      <option value="VT">Vermont</option>
                                      <option value="VA">Virginia</option>
                                      <option value="WA">Washington</option>
                                      <option value="WV">West Virginia</option>
                                      <option value="WI">Wisconsin</option>
                                      <option value="WY">Wyoming</option>
                                    </select>
                    </div>
        <div style="margin:20px; margin-left:0px;"><p>Zip</p></div>
                    <div> <input type="text" class="form-control" name="userZip" value="<%=userZip %>" pattern="(\d{5}([\-]\d{4})?)" required></div>
        <div style="margin:20px; margin-left:0px;"><p>Contract</p></div>
                    <div> <input type="text" class="form-control" name="userContract" value="<%= userContract %>" readonly></div>
        <div style="margin:20px; margin-left:0px;"><p>Role</p></div>
                    <div> <input type="text" class="form-control" name="userRole" value="<%= userRole %>" readonly> </div>
                    <input type="text" class="form-control" name="userBan" value="<%= userBan %>" readonly hidden>
                    <button style="width:25%;margin:10px;background-color:rgb(4,148,74)" type="submit" class="btn btn-success" id="btnPerformSave">Update</button>
                    <% } else { %>
                      <p>Hey terra!</p>
                      <% } %>

                      </form>


            <!-- <button style="width:30%; margin:auto;background-color:rgb(4,148,74)" class="btn btn-primary btn-block" type="submit" style="background-color:rgb(4,148,74);">Submit</button> -->

            <% if(user.id == id) {%>
              <a href="/editPassword/<%=id%>"><button class="btn btn-primary" style="background-color:rgb(4,148,74);">Change Password</button></a>
              <%}%>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-animation.js"></script>
<div>
    <% include partials/footer.ejs %>
</div>

</body>

<script>
var password = document.getElementById("password")
, confirm_password = document.getElementById("passwordConfirm");
function validatePassword(){
if(password.value != confirm_password.value) {
  confirm_password.setCustomValidity("Passwords Don't Match");
} else {
  confirm_password.setCustomValidity('');
}
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

</html>
