<html>

<head>
  <style>
    .indent {
      margin-left: 40px;
      margin-bottom: 20px
    }

    .indentLeft {
      margin-left: 40px;
    }

    .formBorder {
      border-left: 6px solid darkgreen;
      background-color: lightgrey;
      padding-left: 20px
    }
  </style>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:60px;padding-bottom:200px;">
  <%- include partials/breadcrumb.ejs%>
      <div class="card" style="margin: 0 auto">
        <div class="card-body">



            <div>

              <%if(user.local.role != "user"){%><h1> Project Details </h1><%}%>

              <% if (user.local.role == 'admin' ||  user.local.role == 'super') { %>

                <div>
                  <b><p style="color:#00000;"> Project ID: </p></b>
                  <p class="indent" type="text" name=projId>
                    <%= project._id%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Project Name: </p></b>
                  <p class="indent" type="text" name=projName>
                    <%= project.projectName%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Client Email:</p></b>
                  <p class="indent" type="text" name=projCustEmail>
                    <%= project.email%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Client Name: </p></b>
                  <p class="indent" type="text" name=projCustName>
                    <%= project.clientName%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Date Posted: </p></b>
                  <p class="indent" type="text" name=projDatePosted>
                    <%= project.datePosted%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> File Name: </p></b>
                  <p class="indent" type="text" name=projFileName>
                    <%= project.fileNewName%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Volume of File: </p></b>
                  <p class="indent" type="Number" name=projVolume>
                    <%= project.fileVolumeCmCubed%>cm<sup>3</sup> </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Requested Model Density: </p></b>
                  <p class="indent" type="text" name=projDensity>
                    <%= project.Density%>
                  </p>
                </div>
                <div>
                  <b><p style="color:#00000;"> Requested Materia:l </p></b>
                  <p class="indent" type="text" name=projMaterialName>
                    <%= project.materialName%>
                  </p>
                </div>
                <div>
                  <b>  <p style="color:#00000;"> Price of Material: </p></b>
                  <p class="indent" type="text" name=projMaterialCost> $
                    <%= project.materialCost%>/cm<sup>3</sup></p>
                </div>

                <div>
                  <b>  <p style="color:#00000;"> Project Estimated Cost: </p></b>
                  <p class="indent" type="number" step=0.01 name=projEstimateCost> $
                    <%= project.finalCost%>
                  </p>
                </div>
                <%if (typeof project.finalFinalCost !='undefined'){%>
                  <div>
                    <b> <p style="color:#00000;"> Project Final Cost: </p></b>
                    <p class="indent" type="number" step=0.01 name=projFinalFinalCost>
                      <%=  "$"+project.finalFinalCost %>
                    </p>
                  </div>
                  <div>
                    <b> <p style="color:#00000;"> Project Completion Date: </p></b>
                    <p class="indent" type="number" step=0.01 name=projFinalFinalCost>
                      <%= project.finalCompletionDate  %>
                    </p>
                  </div>
                  <%}%>
                    <div>
                      <b><p style="color:#00000;"> Comments: </p></b>
                      <p class="indent" name="projComments" value="">
                        <%= project.projectComments %>
                      </p>
                    </div>
                    <div class="formBorder">
                      <form action="/edit/<%= project._id %>" method="post">
                        <b><p style="color:#00000;"> Assign an Engineer: </p></b>

                        <select name="projEngineer" class="indent">
                          <option value='{ "id" : "<%=project.engineerID %>", "name" : "<%=project.engineerName%>", "email": "<%=project.engineerEmail%>" }' ><%=project.engineerName%></option>

                           <% for(var i = 0; i < engineers.length; i++){%>
                                <option value='{ "id" : "<%=engineers[i]._id%>", "name" : "<%=engineers[i].local.firstName%> <%=engineers[i].local.lastName%>", "email": "<%=engineers[i].local.email%>" }' <%if (engineers[i].local.email == project.engineerEmail) {%> checked <%}%> ><%=engineers[i].local.firstName%> <%=engineers[i].local.lastName%></option>
                              <% }%>
                            </select>






                    <b><p style="color:#00000;"> Change Project Status: </p></b>

                    <select class="indent" name="projStatus">
                                  <option value="<%=project.status%>"><%=project.status%></option>
                                  <option value="Created">Created</option>
                                  <option value="Assigned">Assigned</option>
                                  <option value="Finalized">Finalized</option>
                                  <option value="Accepted">Accepted</option>
                                  <option value="Canceled">Canceled</option>
                                  <option value="Printed">Printed</option>
                                  <option value="Paid">Paid</option>
              </select>

                    <b>  <p style="color:#00000;"> Archived: </p></b>
                    <span>
                          <input class="indent" style="color:#00000;" type="radio" name="projArchived" value="true" <%if (project.archived){%> checked
                          <%}%> > Yes
                            <input style="color:#00000;" type="radio" name="projArchived" value="false" <%if (!project.archived){%> checked
                            <%}%> > No
                          </span>

                            <div><button style="width:25%;margin:10px;background-color:rgb(4,148,74)" type="submit" class="btn btn-success" id="btnPerformSave">Update</button></div>

        </form>
        </div>

        <% } else if(user.local.role == 'engineer') { %>

          <b><p style="color:#00000;"> Project Name: </p></b>
          <p class="indent" type="text" name=projName>
            <%= project.projectName%>
          </p>
        </div>
        <div>
          <b><p style="color:#00000;"> Client Email:</p></b>
          <p class="indent" type="text" name=projCustEmail>
            <%= project.email%>
          </p>
        </div>
        <div>
          <b><p style="color:#00000;"> Client Name: </p></b>
          <p class="indent" type="text" name=projCustName>
            <%= project.clientName%>
          </p>
        </div>
        <div>
          <b><p style="color:#00000;"> Date Posted: </p></b>
          <p class="indent" type="text" name=projDatePosted>
            <%= project.datePosted%>
          </p>
        </div>
        <div>
          <b><p style="color:#00000;"> Volume of File: </p></b>
          <p class="indent" type="Number" name=projVolume>
            <%= project.fileVolumeCmCubed%>cm<sup>3</sup> </p>
        </div>
        <div>
          <b><p style="color:#00000;"> Requested Model Density: </p></b>
          <p class="indent" type="text" name=projDensity>
            <%= project.Density%>
          </p>
        </div>
        <div>
          <b><p style="color:#00000;"> Requested Material: </p></b>
          <p class="indent" type="text" name=projMaterialName>
            <%= project.materialName%>
          </p>
        </div>
        <div>
          <b>  <p style="color:#00000;"> Price of Material: </p></b>
          <p class="indent" type="text" name=projMaterialCost> $
            <%= project.materialCost%>/cm<sup>3</sup></p>
        </div>
        <div>
          <b>  <p style="color:#00000;"> Requested Completion Date: </p></b>
          <p class="indent" type="text" >
            <%= project.requestedCompletionDate%></p>
        </div>
        <div>
          <b>  <p style="color:#00000;"> Project Estimated Cost: </p></b>
          <p class="indent" type="number" step=0.01 name=projEstimateCost> $
            <%= project.finalCost%>
          </p>
        <%if (typeof project.finalFinalCost !='undefined'){%>
          <div>
            <b> <p style="color:#00000;"> Project Final Cost: </p></b>
            <p class="indent" type="number" step=0.01 name=projFinalFinalCost>
              <%=  "$"+project.finalFinalCost %>
            </p>
          </div>
          <div>
            <b> <p style="color:#00000;"> Project Completion Date: </p></b>
            <p class="indent" type="number" step=0.01 name=projFinalFinalCost>
              <%= project.finalCompletionDate  %>
            </p>
          </div>
          <%}%>
            <div>
              <b><p style="color:#00000;">Customer Comments: </p></b>
              <p class="indent" name="projComments" value="">
                <%= project.projectComments %>
              </p>
            </div>









      <% } else if(user.local.role == 'user') { %>

        <div class="card-header" style="margin-bottom: 10px;">
          <h1 style="color:#000000;"> Edit Project </h1>
        </div>

          <form action="/edit/<%=project._id %>" enctype="multipart/form-data" method="post">
            <div>


            </div>
            <div>
              <h5 style="color:#00000;"> 1.) Project Name</h5>
              <p  style="color:#00000;">Give your Project a name: </p>
                <input class="indent" type="text" name="projectName" value="<%=project.projectName%>" required>
            </div>

            <div>
              <h5 style="color:#00000;"> 2.) Density</h5>
              <p style="color:#00000;">Select how dense you want you project to be printed: </p>

                <select class="indent"    name="projectDensity">
                                <option value="<%=project.Density%>" ><%=project.Density%></option>
                                <option value="Solid" title="Highest density but a little higher cost" >Solid</option>
                                <option value="Sparse" title="In between in density, but a little lower cost">Sparse</option>
                                <option value="Sparse Double Dense" title="Lowest density, but the lowest cost">Sparse Double-Dense</option>
            </select>
            </div>

            <div>
              <h5  style="color:#00000; ">3.) Material Type</h5>
              <p style="color:#00000;">Select what material you want you project to be printed with (hover over material for details): </p>

                <input class="indentLeft" title="Your currently chosen project material" type="radio" name=material value='{ "id" : "<%=project.materialID%>", "name" : "<%=project.materialName%>", "price": <%=project.materialCost%> }' checked required><label length=20 ><%=project.materialName%></label>
                <label> $<%=project.materialCost%>/cm<sup>3</sup> </label>

              <% for (var i = 0; i<materials.length; i++) { %>
              <div>


                <input class="indentLeft" title="<%=materials[i].description%>" type="radio" name=material value='{ "id" : "<%=materials[i]._id%>", "name" : "<%=materials[i].name%>", "price": <%=materials[i].salePrice%> }' required><label length=20 ><%= materials[i].name%></label>
                <label> $<%=materials[i].salePrice%>/cm<sup>3</sup> </label>

              </div>

              <%}%>

            </div>

            <div>
              <h5 style="color:#00000;">4.) Requested Completion Date</h5>

              <p style="color:#00000;">Please enter your requested date of completion for this project </p>

              <input  class="indent" type="date" name="requestedCompletionDate" value="<%=project.requestedCompletionDate%>" required>

            </div>

            <div>
            <h5 style="color:#00000;">5.) Upload a File</h5>
            <p style="color:#00000;">If you wish to keep your existing project file, please <b style="color:red;">DO NOT</b> select a file to upload.
            </p>
            <p style="color:#00000;">Click the "Choose File" button below and select your file you want to upload.
            </p>
            <p style="color:red;"><%=error%></p>
              <input class="indent" style="color:#00000;" type="file" accept=".stl" name="myFile">
          </div>

            <div>
              <h5 style="color:#00000;">6.) Comments</h5>
              <p style="color:#00000;"> Please enter any additional comments regarding this project:</p>
                <textarea class="indent" style="width:50%" name="projectComments" value="<%=project.projectComments%>" cols="40" rows="5"><%=project.projectComments%></textarea>
            </div>

            <div>
              <button style="width:25%;margin:10px;background-color:rgb(4,148,74)" type="submit" class="btn btn-success" id="btnPerformSave">Update Project</button>
              <h6 style="color:red;margin-top:5px"><b>Please note:</b> <small style="color:black">larger files may take some time to upload.</small></h6>
            </div>
          </form>
  <%}%>



    </div>
    </div>
    </div>
    </div>
    <div>
      <% include partials/footer.ejs %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
</body>

</html>
