<html>

<style>
#appadd {
    white-space: nowrap;
    overflow: hidden;
    width: 10px;
    height: 10px;
    text-overflow: ellipsis;
}
td {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
  <script src="assets/js/sorttable.js"></script>
</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:30px;padding-bottom:200px;">
      <%- include partials/breadcrumb.ejs%>


          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <div>
                  <h1 style="color:#000000;margin-bottom:20px;">Projects</h1>
                </div>
                <% if(user.local.role == 'user'){%>
                  <div>
                      <div class="card-group">
                        <div class="container">
                          <div class="row">
                              <span>
                              <div class="">
                                <form action="/projects" method="post" class="d-flex align-self-center mx-auto">
                                  <div class="" style="right: 0px">

                                    <button name="filter" type="submit" value="notArchived" class="btn btn-success">Active Projects</button>
                                    <button name="filter" type="submit" value="archived" class="btn btn-success">Archived Projects</button>
                                    <button name="filter" type="submit" value="all" class="btn btn-success">All Projects</button>
                                  </div>
                                </form>
                            </div>
                          </span>
                          </div>
                        </div>
                      </div>
                  </div>
                <%} else if (user.local.role == "admin" || user.local.role == "super"){%>
                  <div>
                      <div class="card-group">
                        <div class="container">
                          <div class="row">
                              <span>
                              <div class="">
                                <form action="/projects" method="post" class="d-flex align-self-center mx-auto">
                                  <div class="">
                                    <select class="" name="filter">
                                    <option value="unassigned">Unassigned Projects</button>
                                    <option value="all">All</option>
                                    <option value="notArchived">Active</option>
                                    <option value="archived">Archived</option>
                                    <option value="email">Client Email</option>
                                    <option value="engineer">Engineer Email</option>
                                    </select>
                                    <input class="" type="text" name="parameter" placeholder="Search parameter">
                                    <button type="submit" class="btn btn-success">Filter</button>
                                  </div>
                                </form>
                            </div>
                          </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <%} else {%>
                    <div>
                        <div class="card-group">
                          <div class="container">
                            <div class="row">
                                <span>
                                <div class="">
                                  <form action="/projects" method="post" class="d-flex align-self-center mx-auto">
                                    <div class="" style="right: 0px">

                                      <button name="filter" type="submit" value="yourProjects" class="btn btn-success">Your Projects</button>
                                      <button name="filter" type="submit" value="unassigned" class="btn btn-success">Unassigned Projects</button>
                                      <button name="filter" type="submit" value="archived" class="btn btn-success">Archived Projects</button>
                                      <button name="filter" type="submit" value="all" class="btn btn-success">All Projects</button>
                                    </div>
                                  </form>
                              </div>
                            </span>
                            </div>
                          </div>
                        </div>
                    </div>

                    <%}%>

              </div>
              <div class="card-body">
                <div class="table-responsive">

                  <% if ( user.local.role == "admin" || user.local.role == "super") { %>
                      <table class="table sortable">
                        <thead>
                          <tr>
                                <th>Project Name</th>
                                <th>Status</th>
                                <th>User Email</th>
                                <th>Engineer Assigned</th>
                                <th>Estimated Cost</th>
                                <th>Date Posted </th>
                                <th>Finish Date</th>
                                <th>Actions</th>
                          </tr>
                        </thead>
                          <tbody>
                            <%for(var i=0; i<projects.length; i++) {%>
                                <tr>
                                      <td>
                                        <%= projects[i].projectName %>
                                      </td>
                                      <td>
                                        Project <%= projects[i].status%>
                                      </td>

                                      <td>
                                        <%= projects[i].email%>
                                      </td>
                                      <td>
                                        <%= projects[i].engineerEmail %>
                                      </td>
                                      <td>
                                        $<%= projects[i].finalCost %>
                                      </td>
                                      <td>
                                        <%= projects[i].datePosted %>
                                      </td>
                                      <td>
                                        <% if (projects[i].finalCompletionDate !=null){%>
                                            <%= projects[i].finalCompletionDate %>
                                        <%}else{%>
                                          N/A
                                          <%}%>
                                      </td>

                                      <%if (projects[i].status == "Created") {%> <td> <a  class="btn btn-success" title="Assign an Engineer to this project" href='/editUpdated/<%=projects[i]._id %>'> Assign Engineer  </a></td> <%}%>
                                        <td> <a title="View project details or set project to a new status" class="btn btn-success" href='/edit/<%=projects[i]._id %>'> View/Edit </a></td>
                                          <td> <a title="Download linked project stl file" class="btn btn-success" href='/download/<%=projects[i].fileNewName%>'>Download STL</a></td>
                                </tr>
                                  <%}%>
                          </tbody>
                      </table>
                  <%} else if (user.local.role == "engineer") {%>
                    <table class="table sortable">
                      <thead>
                        <tr>
                              <th>Project Name</th>
                              <th>Status</th>
                              <th>Date Posted </th>
                              <th>User Email</th>
                              <th>Engineer Assigned</th>
                              <th>Estimated Cost</th>
                              <th>Requested Finish Date</th>
                              <th>Final Price</th>
                              <th>Finish Date</th>
                              <th>Comments</th>
                              <th>Actions</th>
                        </tr>
                      </thead>
                        <tbody>
                          <% for(var i=0; i<projects.length; i++) {%>
                              <tr>
                                    <td>
                                      <%= projects[i].projectName %>
                                    </td>
                                    <td>
                                      Project <%= projects[i].status%>
                                    </td>
                                    <td>
                                      <%= projects[i].datePosted %>
                                    </td>
                                    <td>
                                      <%= projects[i].email%>
                                    </td>
                                    <td>
                                      <%= projects[i].engineerEmail %>
                                    </td>
                                    <td>
                                      $<%= projects[i].finalCost %>
                                    </td>
                                    <td>
                                      <%= projects[i].requestedCompletionDate %>
                                    </td>
                                    <td>
                                      <% if (projects[i].finalFinalCost != null) {%>
                                      $<%= projects[i].finalFinalCost %>
                                      <%}else{%> N/A <%}%>
                                    </td>

                                    <td><% if (projects[i].finalCompletionDate !=null){%>
                                        <%= projects[i].finalCompletionDate %>
                                    <%}else{%>
                                      N/A
                                      <%}%>
                                    </td>
                                    <td>
                                      <%if (projects[i].projectComments) {%> Yes <%} else {%> No <%}%>
                                    </td>

                                      <td> <a title="Download linked project stl file" href='/download/<%=projects[i].fileNewName%>'class="btn btn-success">Download STL</a></td>
                                        <%if (projects[i].status == "Created") {%> <td> <a title="Assign an Engineer to this project"  class="btn btn-success" href='/quickUpdate/<%=projects[i]._id %>'> Take Project  </a></td> <%}%>
                                        <td> <a title="View project details" class="btn btn-success" href='/edit/<%=projects[i]._id %>'> View </a></td>
                                        <%if (projects[i].status == "Assigned" && projects[i].engineerEmail == user.local.email) {%><td> <a title="Finalize the projects invoiced price" href='/editUpdated/<%=projects[i]._id %>' class="btn btn-success"> Finalize </a></td><%}%>
                                        <%if (projects[i].status == "Accepted" && projects[i].engineerEmail == user.local.email) {%> <td> <a title="Show the cutomer the project is printed and ready to go" class="btn btn-success" href='/quickUpdate/<%=projects[i]._id %>'> Printed and Ready  </a></td> <%}%>
                                        <%if (projects[i].status == "Printed" && projects[i].engineerEmail == user.local.email) {%> <td> <a title="Show the cutomer has paid for the project" class="btn btn-success" href='/quickUpdate/<%=projects[i]._id %>'> Paid by Customer  </a></td> <%}%>

                              </tr>
                                <%}%>
                        </tbody>
                    </table>
                  <%} else if (user.local.role == "user") {%>
                              <table class="table sortable">
                                <thead>
                                  <tr>
                                        <th>Project Name</th>
                                        <th>Status</th>
                                        <th>Estimated Cost</th>
                                        <th>Requested Finish Date</th>
                                        <th>Final Cost</th>
                                        <th>Finish Date</th>
                                        <th>Engineer Assigned</th>
                                        <th>Date Posted </th>
                                        <th>Actions</th>
                                  </tr>
                                </thead>
                                  <tbody>
                                    <% for(var i=0; i<projects.length; i++) {%>
                                        <% if (user.local.role == "user" && user.local.email == projects[i].email) {%>
                                        <tr>
                                              <td>
                                                <%= projects[i].projectName %>
                                              </td>
                                              <td>
                                                Project <%= projects[i].status%>
                                              </td>
                                              <td>
                                                $<%= projects[i].finalCost %>
                                              </td>
                                              <td>
                                                <%= projects[i].requestedCompletionDate %>
                                              </td>
                                              <td>
                                                <% if (projects[i].finalFinalCost != null) {%>
                                                $<%= projects[i].finalFinalCost %>
                                                <%}else{%> N/A <%}%>
                                              </td>
                                              <td>
                                                <% if (projects[i].finalCompletionDate != null) {%>
                                                <%= projects[i].finalCompletionDate %>
                                                <%}else{%> N/A <%}%>
                                              </td>
                                              <td>
                                                <%= projects[i].engineerEmail %>
                                              </td>
                                              <td>
                                                <%= projects[i].datePosted %>
                                              </td>

                                                  <td> <a title="Download linked project stl file" href='/download/<%=projects[i].fileNewName%>' class="btn btn-success">Download STL</a></td>
                                                  <%if (projects[i].status == "Assigned" || projects[i].status == "Created" || projects[i].status == "Created"  ) {%><td> <a title="View project details" class="btn btn-success" href='/edit/<%=projects[i]._id %>'> Edit </a></td> <%}%>
                                                  <%if (projects[i].status == "Created" || projects[i].status == "Assigned") {%> <td> <a title="Assign an Engineer to this project" class="btn btn-success" href='/quickUpdate/<%=projects[i]._id %>'>Cancel Project</a></td> <%}%>
                                                  <%if (projects[i].status == "Finalized") {%> <td> <a style="color:red;" title="Accept or decline the finalized project specifications" class="btn btn-success" href='/editUpdated/<%=projects[i]._id %>'> Accept/Decline  </a></td> <%}%>
                                        </tr>
                                            <%}%>
                                          <%}%>
                                  </tbody>
                              </table>
                    <% } else { %>
                      <p>Hey terra!</p>
                    <% } %>

                </div>
                <%if (user.local.role != 'super' && user.local.role != 'admin' ) {%>
                  <a href="  /quote" class="login" style="font-family:'Source Sans Pro', sans-serif;font-size:16px;"><button class="btn btn-success" type="button";font-family:'Source Sans Pro', sans-serif;font-size:16px;">Create Project </button></a>
                  <% } %>
              </div>

            </div>
          </div>
        </div>
      </div>



          <script src="assets/js/jquery.min.js"></script>
          <script src="assets/bootstrap/js/bootstrap.min.js"></script>
          <script src="assets/js/bs-animation.js"></script>
          <div>
              <% include partials/footer.ejs %>
          </div>
</body>

</html>
