<html>

<style>
#appadd {
    white-space: nowrap;
    overflow: hidden;
    width: 10px;
    height: 10px;
    text-overflow: ellipsis;
}

td {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
  <script src="assets/js/sorttable.js"></script>
</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:30px;padding-bottom:200px;">
      <%- include partials/breadcrumb.ejs%>


          <div class="card-group">
            <div class="card">
              <div class="card-header">
                <div>
                  <h1 style="color:#000000;margin-bottom:20px;">Projects</h1>
                </div>
                <% if(user.local.role == 'user'){%>
                  <div>
                      <div class="card-group">
                        <div class="container">
                          <div class="row">
                              <span>
                              <div class="">
                                <form action="/projects" method="post" class="d-flex align-self-center mx-auto">
                                  <div class="">

                                    <button name="filter" type="submit" value="notArchived" class="btn btn-success">Not Archived</button>
                                    <button name="filter" type="submit" value="archived" class="btn btn-success">Archived</button>
                                    <button name="filter" type="submit" value="all" class="btn btn-success">All</button>
                                  </div>
                                </form>
                            </div>
                          </span>
                          </div>
                        </div>
                      </div>
                  </div>

                <%} else {%>
                  <div>
                      <div class="card-group">
                        <div class="container">
                          <div class="row">
                              <span>
                              <div class="">
                                <form action="/projects" method="post" class="d-flex align-self-center mx-auto">
                                  <div class="">
                                    <select class="" name="filter">
                                    <option value="all">All</option>
                                    <option value="archived">Archived</option>
                                    <option value="notArchived">Not Archived</option>
                    <% if (user.local.role == 'admin' || user.local.role == 'engineer' || user.local.role == 'finance') { %>
                                    <% if (user.local.role == 'engineer') {%>
                                    <option value="yourProjects">Your Projects</option>
                                    <%}%>
                                    <option value="email">Client Email</option>
                                    <option value="engineer">Engineer Email</option>
                                    <option value="completed" >Completed</option>
                                    <option value="notCompleted">Not Completed</option>
                                                              <% } %>
                                    </select>
                                    <input class="" type="text" name="parameter" placeholder="Search parameter">
                                    <button type="submit" class="btn btn-success">Filter</button>
                                  </div>
                                </form>
                            </div>
                          </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <%}%>
                <% if(user.local.role == "user") { %>
                  <h4 style="color:red;"> Please Note </h4>
                  <p> Cost estimates are just that; Estimates. Please understand that prices on actual project invoices may vary from estimate prices </p>
                  <%}%>
                  <p> Hover over options to see what they do </p>
                    <h5 class="mb-0"></h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">

                  <% if ( user.local.role == "admin" || user.local.role == "super") { %>
                      <table class="table sortable">
                        <thead>
                          <tr>
                                <th>Project Name</th>
                                <th>Status</th>
                                <th>Comments</th>
                                <th>User Email</th>
                                <th>Engineer</th>
                                <th>Estimate</th>
                                <th>Date Posted </th>
                                <th>Archived</th>
                                <th>Options</th>
                          </tr>
                        </thead>
                          <tbody>
                            <% for(var i=0; i<projects.length; i++) {%>
                                <tr>
                                      <td>
                                        <%= projects[i].projectName %>
                                      </td>
                                      <td>
                                        <%= projects[i].status%>
                                      </td>
                                      <td>
                                        <% if (projects[i].projectComments) {%> Yes <%} else {%> No <%}%>
                                      </td>
                                      <td>
                                        <%= projects[i].email%>
                                      </td>
                                      <td>
                                        <%= projects[i].engineerEmail %>
                                      </td>
                                      <td>
                                        <%= projects[i].finalCost %>
                                      </td>
                                      <td>
                                        <%= projects[i].datePosted %>
                                      </td>
                                      <td>
                                        <%= projects[i].archived %>
                                      </td>
                                      <%if (projects[i].status == "Created") {%> <td> <a title="Assign an Engineer to this project" href='/editUpdated/<%=projects[i]._id %>'> Assign Engineer  </a></td> <%}%>
                                        <td> <a title="View project details or set project to a new status" href='/edit/<%=projects[i]._id %>'> View/ChangeStatus </a></td>
                                          <td> <a title="Download linked project stl file" href='/download/<%=projects[i].fileNewName%>'>Download STL</a></td>
                                </tr>
                                  <%}%>
                          </tbody>
                      </table>
                  <%} else if (user.local.role == "engineer") {%>
                    <table class="table sortable">
                      <thead>
                        <tr>
                              <th>Project Name</th>
                              <th>Status</th>
                              <th>Comments</th>
                              <th>User Email</th>
                              <th>Engineer</th>
                              <th>Estimate</th>
                              <th>Final Price</th>
                              <th>Date Posted </th>
                              <th>Archived</th>
                              <th>Options</th>
                        </tr>
                      </thead>
                        <tbody>
                          <% for(var i=0; i<projects.length; i++) {%>
                              <tr>
                                    <td>
                                      <%= projects[i].projectName %>
                                    </td>
                                    <td>
                                      <%= projects[i].status%>
                                    </td>
                                    <td>
                                      <%if (projects[i].projectComments) {%> Yes <%} else {%> No <%}%>
                                    </td>
                                    <td>
                                      <%= projects[i].email%>
                                    </td>
                                    <td>
                                      <%= projects[i].engineerEmail %>
                                    </td>
                                    <td>
                                      <%= projects[i].finalCost %>
                                    </td>
                                    <td>
                                      <% if (projects[i].finalFinalCost != null) {%>
                                      <%= projects[i].finalFinalCost %>
                                      <%}else{%> N/A <%}%>
                                    </td>
                                    <td>
                                      <%= projects[i].datePosted %>
                                    </td>
                                    <td>
                                      <%= projects[i].archived %>
                                    </td>
                                        <%if (projects[i].status == "Created") {%> <td> <a title="Assign an Engineer to this project" href='/quickUpdate/<%=projects[i]._id %>'> Take Project  </a></td> <%}%>
                                        <%if (projects[i].status == "Assigned" && projects[i].engineerEmail == user.local.email) {%><td> <a title="View project and change some project details" href='/edit/<%=projects[i]._id %>'> Edit </a></td>
                                                                                  <td> <a title="Finalize the projects invoiced price" href='/editUpdated/<%=projects[i]._id %>'> Finalize </a></td><%}%>
                                        <%if (projects[i].status == "Accepted" && projects[i].engineerEmail == user.local.email) {%> <td> <a title="Show the cutomer the project is printed and ready to go" href='/quickUpdate/<%=projects[i]._id %>'> Printed  </a></td> <%}%>
                                        <td> <a title="Download linked project stl file" href='/download/<%=projects[i].fileNewName%>'>Download STL</a></td>
                              </tr>
                                <%}%>
                        </tbody>
                    </table>
                  <%} else if (user.local.role == "user") {%>
                              <table class="table sortable">
                                <thead>
                                  <tr>
                                        <th>Project Name</th>
                                        <th>Status</th>
                                        <th>Estimate</th>
                                          <th>
                                             Final Cost
                                          </th>

                                        <th>Engineer</th>
                                        <th>Date Posted </th>
                                        <th>Archived</th>
                                        <th>Options</th>
                                  </tr>
                                </thead>
                                  <tbody>
                                    <% for(var i=0; i<projects.length; i++) {%>
                                        <% if (user.local.role == "user" && user.local.email == projects[i].email) {%>
                                        <tr>
                                              <td>
                                                <%= projects[i].projectName %>
                                              </td>
                                              <td>
                                                <%= projects[i].status%>
                                              </td>
                                              <td>
                                                $<%= projects[i].finalCost %>
                                              </td>
                                              <td>
                                              <%if(projects[i].finalFinalCost != null){%>

                                                  $<%= projects[i].finalFinalCost %>

                                              <%}else{%>
                                                N/A
                                                <%}%>
                                                </td>
                                                <td>
                                                <%= projects[i].engineerEmail %>
                                              </td>

                                              <td>
                                                <%= projects[i].datePosted %>
                                              </td>
                                              <td>
                                                <%= projects[i].archived %>
                                              </td>
                                                  <td> <a title="Download linked project stl file" href='/download/<%=projects[i].fileNewName%>'>Download STL</a></td>
                                                  <%if (projects[i].status == "Created" || projects[i].status == "Assigned") {%> <td> <a title="Assign an Engineer to this project" href='/quickUpdate/<%=projects[i]._id %>'>Cancel Project</a></td> <%}%>
                                                  <%if (projects[i].status == "Finalized") {%> <td> <a style="color:red;" title="Accept or decline the finalized project specifications" href='/editUpdated/<%=projects[i]._id %>'> Accept/Decline  </a></td> <%}%>
                                        </tr>
                                            <%}%>
                                          <%}%>
                                  </tbody>
                              </table>
                    <% } else { %>
                      <p>Hey terra!</p>
                    <% } %>

                </div>
                <%if (user.local.role != 'finance' && user.local.role != 'admin' ) {%>
                  <a href="  /quote" class="login" style="font-family:'Source Sans Pro', sans-serif;font-size:16px;"><button class="btn btn-primary" type="button" style="background-color:rgb(4,148,74);font-family:'Source Sans Pro', sans-serif;font-size:16px;">Create Project </button></a>
                  <% } %>
              </div>

            </div>
          </div>
          <div class="footer-clean">
            <footer>
              <div class="container" style="width:960px;">
                <div class="row justify-content-center">
                  <div class="col-sm-4 col-md-3 item"><img src="assets/img/Marshell-University-logo.png" align="left" />
                    <ul>
                      <li></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-center" style="padding:12px;">About Us</h3>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                    <h3 class="text-center" style="padding:12px;">Contact Us</h3>
                  </div>
                  <div class="col"><img src="assets/img/RCBILogo.png" align="right" /></div>
                </div>
              </div>
              <div class="container">
                <div>
                  <div class="row justify-content-center">
                    <div class="col-lg-3 justify-content-center align-items-center align-content-center align-self-center order-1 item social">
                      <a href="#" style="margin:0px;">
                        <p class="text-center copyright" style="font-family:&#39;Source Sans Pro&#39;, sans-serif;">© 2007-2018 RCBI</p>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <script src="assets/js/jquery.min.js"></script>
          <script src="assets/bootstrap/js/bootstrap.min.js"></script>
          <script src="assets/js/bs-animation.js"></script>

</body>
</html>
