<!DOCTYPE html>
<html>


<head>
  <style>

  .indent{margin-left:40px; margin-bottom:20px}
  .indentLeft{margin-left:40px; }

  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">



</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:60px;padding-bottom:200px;">

      <div>

        <%- include partials/breadcrumb.ejs%>
        <div class="card-group">

        <div class="card">

      <div class="card-body">


        <div class="card-header" style="margin-bottom: 10px;">
          <h1 style="color:#000000;"> New Project </h1>
        </div>

          <form action="/quote" enctype="multipart/form-data" method="post">
            <div>


            </div>
            <div>
              <h5 style="color:#00000;"> 1.) Project Name</h5>
              <p  style="color:#00000;">Give your Project a name: </p>
                <input class="indent" type="text" name="projectName" required>
            </div>

            <div>
              <h5 style="color:#00000;"> 2.) Density</h5>
              <p style="color:#00000;">Select how dense you want you project to be printed: </p>

                <select class="indent"    name="projectDensity">
                                <option value="Solid" title="Highest density but a little higher cost" >Solid</option>
                                <option value="Sparse" title="In between in density, but a little lower cost">Sparse</option>
                                <option value="Sparse Double Dense" title="Lowest density, but the lowest cost">Sparse Double-Dense</option>
            </select>
            </div>

            <div>
              <h5  style="color:#00000; ">3.) Material Type</h5>
              <p style="color:#00000;">Select what material you want you project to be printed with (<B>hover</B> over material for details): </p>

                                <% for (var i = 0; i<materials.length; i++) { %>
                                <div>

                                  <input class="indentLeft" title="<%=materials[i].description%>" type="radio" name=material value='{ "id" : "<%=materials[i]._id%>", "name" : "<%=materials[i].name%>", "price": <%=materials[i].salePrice%> }' required><label length=20 ><%= materials[i].name%></label>
                                  <label> $<%=materials[i].salePrice%>/cm<sup>3</sup> </label>

                                </div>

                                <%}%>

            </div>

            <div>
              <h5 style="color:#00000;">4.) Requested Completion Date</h5>

              <p style="color:#00000;">Please enter your requested date of completion for this project </p>

              <input  class="indent" type="date" name="requestedCompletionDate" required>

            </div>

            <div>
            <h5 style="color:#00000;">5.) Upload a File</h5>

            <p style="color:#00000;">Click the "Choose File" button below and select your file you want to upload (Limit is 100Mb).
            </p>

            <p style="color:red;"><%=error%></p>
              <input class="indent" style="color:#00000;" type="file" accept=".stl" name="myFile" required>
          </div>

            <div>
              <h5 style="color:#00000;">6.) Comments</h5>
              <p style="color:#00000;"> Please enter any additional comments regarding this project:</p>
                <textarea class="indent" style="width:50%" name="projectComments" value=" " cols="40" rows="5"></textarea>
            </div>

            <% if (user.local.role == 'admin' || user.local.role == 'engineer' || user.local.role == 'super') {%>
            <div>
              <p style="color:#00000;margin-top:10px"> Please enter Client's email: </p>
                <input class="indent" style="width:25%" type="email" name="custEmail" required>
            </div>
            <%}%>
            <div>
              <button style="width:25%;margin:10px;" type="submit" class="btn btn-success" id="btnPerformSave">Create Project</button>
              <h6 style="color:red;margin-top:5px"><b>Please note:</b> <small style="color:black">larger files may take some time to upload.</small></h6>
            </div>
          </form>
      </div>
      </div>
    </div>
</div>
</div>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <div>
        <% include partials/footer.ejs %>
    </div>
</body>

</html>
