<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rcbi3d</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="assets/css/Article-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Basic.css">
  <link rel="stylesheet" href="assets/css/Footer-Clean.css">
  <link rel="stylesheet" href="assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="assets/css/Header-Blue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
  <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/Team-Boxed.css">
  <link rel="stylesheet" href="assets/css/Team-Clean.css">
  <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
  <div>
    <%- include partials/head.ejs %>
  </div>
  <div class="header-blue">
    <div class="container" style="padding:15px 15px;padding-top:60px;padding-bottom:200px;">

      <div>

        <%- include partials/breadcrumb.ejs%>
        <div class="card">

      <div class="card-body">


        <div class="card-header" style="margin-bottom: 10px;">
          <h1 style="color:#000000;"> Create a Project </h1>
        </div>



          <form action="/quote" enctype="multipart/form-data" method="post">
            <div>
              <h5 style="color:#00000;">Upload a file to start your project</h5>

              <p style="color:#00000;">To begin, click the "Choose File" button below and select your file you want to upload.
                After you have your file chosen, fill out the fields below.
              </p>

              <p style="color:yellow;"><%=error%></p>
              <input style="color:#00000;" type="file" accept=".stl" name="myFile" required>

            </div>
            <div>
              <h5 style="color:#00000;">Project Name</h5>
              <p style="color:#00000;"> Give your Project a name: </p>
              <input type="text" name="projectName" required>
            </div>

            <div>
              <h5 style="color:#00000;">Density</h5>
              <p style="color:#00000;"> Select how dense you want you project to be printed: </p>
              <select class="form-control form-group" name="projectDensity">
                                <option value="Solid" title="Highest density but a little higher cost">Solid</option>
                                <option value="Sparse" title="In between in density, but a little lower cost">Sparse</option>
                                <option value="Sparse Double Dense" title="Lowest density, but the lowest cost">Sparse Double-Dense</option>
            </select>
            </div>

            <div>
              <h5 style="color:#00000;">Filament Type</h5>
              <p style="color:#00000;"> Select what material you want you project to be printed with: </p>
              <select class="form-control form-group" name="material">
                                <% for (var i = 0; i<materials.length; i++) { %>
                                <option type="text" value='{ "id" : "<%=materials[i]._id%>", "name" : "<%=materials[i].name%>", "price": <%=materials[i].salePrice%> }'><%= materials[i].name%>: $<%=materials[i].salePrice%> per cubic centimeter</option>

                                <%}%>
           </select>
            </div>



            <div>

              <% for (var i = 0; i<materials.length; i++) { %>
                <!-- <p style="color:#00000;">
                  <%= materials[i].name%>:
                    <%= materials[i].description%>
                </p> -->

                <%}%>

            </div>
            <div>
              <h5 style="color:#00000;">Comments</h5>
              <p style="color:#00000;"> Please input any additional comments of concerns you have with this project: </p>
              <textarea name="projectComments" value=" " cols="40" rows="5"></textarea>
            </div>
            <% if (user.local.role == 'admin' || user.local.role == 'engineer') {%>
            <div>
              <h5 style="color:#00000;">Client Info: </h5>
              <p style="color:#00000;"> Please Clients Email: </p>
              <input type="email" name="custEmail" required>
            </div>
            <%}%>
            <div>
              <button type="submit" class="btn btn-success">Submit</button>
              <p style="color:#00000;"> Larger files may take some time to upload. Please allow up to a minute for server responce. </p>
            </div>
          </form>
      </div>
        </div>
    </div>

  </div>
    <div class="footer-clean">
      <footer>
        <div class="container" style="width:960px;">
          <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item"><img src="assets/img/Marshell-University-logo.png" align="left" />
              <ul>
                <li></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <h3 class="text-center" style="padding:12px;">About Us</h3>
            </div>
            <div class="col-sm-4 col-md-3 item">
              <h3 class="text-center" style="padding:12px;">Contact Us</h3>
            </div>
            <div class="col"><img src="assets/img/RCBILogo.png" align="right" /></div>
          </div>
        </div>
        <div class="container">
          <div>
            <div class="row justify-content-center">
              <div class="col-lg-3 justify-content-center align-items-center align-content-center align-self-center order-1 item social">
                <a href="#" style="margin:0px;">
                  <p class="text-center copyright" style="font-family:&#39;Source Sans Pro&#39;, sans-serif;">© 2007-2018 RCBI</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <div>
        <% include partials/footer.ejs %>
    </div>
</body>

</html>
